<div class="top">
  <div class="row" >
    <% if (config.show_banner) { %>
    <div class="top-banner-area col">
      <a href="<%- config.root %>"><img src="<%- url_for(config.banner_url) %>" alt="" class="top-banner"></a>
    </div>
    <% } %>
    <div class="col top-title-area">
      <h1 class="top-title" ><a href="<%- config.root %>" style="color: <%- config.title_color %>;"><%= config.title %></a></h1>
      <div class="row">
        <% if (config.show_nav) {%>
        <nav class="top-nav col">
          <ul>
            <li><a href="<%- config.root %>">Home</a></li>
            <% if (config.nav != null) { %>
            <% config.nav.forEach(function(content) { %>
            <li> / <a href="<%- url_for(content.path) %>"><%= content.title %></a></li>
            <% }); %>
            <!-- TODO: add feed link
            <li><a href="<%- config.root %>">Feed</a></li> -->
            <% } %>
          </ul>
        </nav>
        <% } %>
        <div class="col">
          <%- search_form({button:"Search"}) %>
        </div>
      </div>
    </div>

  </div>



</div>
