<head>
  <title><%= config.title %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= config.description %>">
  <meta name="author" content="<%= config.author %>">
  <%- css("css/ungrid.min.css") %>
  <%- css("css/style.css") %>
</head>
